<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPIERService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pa-imi-ws-01/IMIIntegrationServices/PIERService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPIERService"
                contract="PIERService.IPIERService" name="BasicHttpBinding_IPIERService" />
        </client>
    </system.serviceModel>
</configuration>